<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClinicApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<style>
    .icon-spacing {
        margin-right: 8px; /* Ajuste este valor conforme o espaçamento desejado */
    }
</style>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pacientes">
                <span class="oi oi-plus" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agenda">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agenda
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class ="nav-link" href="procedimentos">
                <i class="bi bi-card-list icon-spacing" aria-hidden="true"></i> Procedimentos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class ="nav-link" href="relatorios">
                <i class="bi bi-person-lines-fill icon-spacing" aria-hidden="true"></i> Relatorios
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
